/*********************************/
/********* BASIC SETUP ***********/
/*********************************/
body
,html{
    display: block;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
    font-family: sans-serif;
    text-rendering: optimizeLegibility;
    overflow: hidden;
    color: rgb(116, 116, 116);
}
/*********** PARGRAPH **************/
p{
    display: inline;
    border : 1px solid rgb(116, 116, 116);;
    border-radius: 15px;
    background-color: white;
    padding: 15px 25px;
    margin-right: 1%;
    margin-left: 1%;
}
/*********** HEADING **************/
h1 {
    margin: 0;
    margin-top: 10px;
    margin-left: 8%;
    font-weight: 100;
    font-size: 250%;
}
h2{
    font-weight: 200;
    margin-left: 5%;
    margin-bottom: 0;
}
h2::after{
    display: block;
    height: 1px;
    background-color: #292929;
    width:95%;
    content: " ";
    margin: 0;
    margin-top: 10px;
}
/*********************************/
/********* HEADING ***********/
/*********************************/
.container{
    display: block;
    position: relative;
    width: 100%;
    background-color: white;
    height: 500px;
    margin-top: 10px;
    margin-bottom: 10px;
    
}
.cal{
    position: absolute;
    border: 1px solid rgb(139, 139, 139);
    border-radius: 20px;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    height: 500px;
    width: 350px;
    background-color: #f5f5f5;
}
.topCal{
    position: absolute;
    border: 1px solid rgb(139, 139, 139);
    border-radius: 19px;
    height: 150px;
    width: 349px;
    background-color: #fff;
}
.click {
    display: block;
    width: 90%;
    margin-left: 5%;
}
.click div {
    margin-bottom:40px;
    margin-right: 4%;
    margin-left: 4%;
}
.click div:first-child {
    margin-top: 190px;
}
.click div:first-child p:last-child{
    background-color: #ffc928 ;
}
.click div:first-child p {
    padding: 15px;
}

.click div:last-child p:nth-child(2){
    padding: 15px 27px;
}

.click div:last-child p:nth-child(3){
    background-color: #1de9b6;
}
.click div:last-child p:last-child{
    padding: 15px 23px;
}
